<main class="main">
  <div class="inner">
    <div class="review__wrapper">
      <p class="review__hedding">
        <%= @review.title%>
      </p>
      <%= link_to @review.user.name, user_path(@review.user), class: :review__user %>
      <% if current_user == @review.user %>
        <div class="review__manage">
          <%= link_to "編集する", edit_review_path(@review.id), class: :review__btn %>
          <%= link_to "削除する", review_path(@review.id), method: :delete, class: :review__btn %>
        </div>
      <% end %>
      <div class="review__image" >
        <%= image_tag @review.image if @review.image.attached?%>
      </div>
      <div class="review__body">
        <div class="review__detail">
          <p class="detail__title">点数</p>
          <p class="detail__message">
            <%#= @review.point.name %>
          </p>
        </div>
        <div class="review__detail">
          <p class="detail__title">一言レビュー</p>
          <p class="detail__message">
            <%= @review.summary %>
          </p>
        </div>
        <div class="review__detail">
          <p class="detail__title">レビュー</p>
          <p class="detail__message">
            <%= @review.contents %>
          </p>
        </div>
      </div>
      <div class="review__comments">
        <% if current_user %>
          <%= form_with(model: [@review, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <li class="comments_list">              
                  <%= comment.text%>
                  <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>              
              </li>
            <% end%>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
